.container{
    display: flex;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;    
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.form input, .form select, .form textarea{
    margin-bottom: 30px;
    padding: 30px;
    background-color: var(--bgSoft);
    color: var(--text);
    border: 2px solid #2e374a;
    border-radius: 5px;
}
.form textarea{
    width: 100%;
}
.form select,
.form input{
    width: 45%;
}


.form select option {
    margin: 40px;
    color: var(--text);
    background: rgba(46,55,74, 1);
  }


.form button{
    width: 100%;
    padding: 30px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}